@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
}

[data-theme="light"] {
  --color-primary: #150100;  
  --color-secondary: #410300;
  --color-success: #ffffff;
  --color-base-200: #868686e7;
  --base-content: #000000;

}

[data-theme="dark"] {
  --color-primary: #fbe6e5;
  --color-secondary: #f3b6b2;
  --color-success: #000000;
  --color-base-200: #e0e0e0;
  --base-content: #ffffff; 
}

html { 
  scroll-behavior: smooth; 
}

.active {
    /* color: #d90c00 ; */
    color: #ec6052;
    text-decoration: underline;
}

body {
    font-family: "Afacad", sans-serif;
    /* background-color: white; */
}

.swiper-button-next {
  position: absolute !important;
  right: -25px !important;
  background-color: #f3b6b2;
  color: #f3b6b2 !important;
  border-radius: 20px;
  padding: 10px !important;
}

.swiper-button-prev {
  left: -25px !important;
  background-color: #f3b6b2;
  color: #f3b6b2 !important;
  border-radius: 20px;
  padding: 10px !important;
}


/* From Uiverse.io by catraco */ 
.heart-container {
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 23px;
  height: 23px;
  transition: .3s;
  margin-right: 7px;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
        .heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}